

.stroke {
  border-top: 1px solid rgba(0,0,0,.1);
  margin: 20px 0;
}

.chat {
    height: 100vh;
    display: flex;
    align-items: flex-start; 
    justify-content: center;
}

.chat container {
    flex-direction: column;
    align-items: center;
    padding: 80px;
    margin: px auto;
    box-sizing: content-box;
    gap: 10px;
  }

.chat container input {
    height: 40px;
    line-height: 26px;
    color: inherit;
    display: block;
    width: 300px;
    padding: 0 10px;
    margin: 0 auto 24px;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    cursor: pointer;
    box-sizing: border-box;
  }
  

.login form button {
    width: 100%;
    border: none;
    color: #fff;
}

.login form .span{
    font-size: 13px;
    color: red;
    margin-top: 10px;
}

.login form .spanClass2{
  font-size: 13px;
  color: #6B7684;
  padding: 0 5px;
}


p {
  margin: 5px 0;
}

p.margin-large {
  margin: 30px 0;
}
