

.login {
    height: 100vh;
    display: flex;
    align-items: flex-start; 
    justify-content: center;
}

.login form {
    flex-direction: column;
    align-items: flex-start;
    padding: 110px 80px;
    max-width: 300px;
  }

.textarea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* 가로축 좌측정렬 */
    align-items: center;  /* 세로축 중앙정렬 */
    margin-bottom: 15px;
}

.login form .headinglarge {
  display: block; /* heading-large의 내용이 flex container가 되지 않도록 변경했습니다. */
  font-weight: 600;
  font-size: 25px;
  letter-spacing: -.5px;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  color: #333D4B;
  margin-bottom: 15px;
}

.login form .textbody {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -.5px;
  color: #6B7684;
  margin-right: 0.25rem;
  margin-bottom: 5px;
}


.login form input {
    height: 40px;
    color: #333D4B;
    display: block;
    width: 300px;
    padding: 0 10px;
    margin: 0 auto 15px;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    cursor: pointer;
    box-sizing: border-box;
  }
  
.login form button {
    width: 100%;
    border: none;
    color: #fff;
}

.login form .warning{
    font-size: 13px;
    color: red;
}

p {
  margin: 0;
}



