/* 채팅방 팝업 */

.g__popups {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    background-color: transparent; /* Remove the background overlay */
}

.g__popups.on {
    visibility: visible;
    opacity: 1;
}

.g__popup-inner {
    position: absolute;
    /* bottom: 0; */
    left: 50%;
    width: 50%;
    /* height: 50%; */
    background-color: #ffffff;
    transform: translate(-50%, 100%);
    transition: transform 0.3s;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #E5E8EB; /* Add a 1px grey border */
}


@media only screen and (max-width: 768px) {
    .g__popup-inner {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: min-content;
        transform: translate(0, 100%);
        border-radius: 20px 20px 0 0;
        /* border-top: 2px solid #E5E8EB; */
    }

    .g__popups.on .g__popup-inner {
        transform: translate(0, 0);
    }

    .g__popups {
        overflow-y: hidden;
    }
}

@media only screen and (min-width: 769px) {
    .g__popup-inner {
        top: 50%;
        /* left: 50%; */
        transform: translate(-50%, -50%);
    }

    .g__popups.on .g__popup-inner {
        transform: translate(-50%, -50%);
    }
}


.g__info-cont {
    vertical-align: middle;
    font-size: 16px;
    line-height: 25px;
    /* color: #888888; */
}

.g__info-cont-inner {
    /* display: flex; */
    justify-content: space-between;
    /* flex-direction: column; */
    /* width: 100%; */
    padding: 50px 24px;
    margin: 0;
    border-radius: 20px 20px 0 0;
    background-color: #ffffff;
}

.g__info-cont-inner .row {
    display: flex;
    flex-direction: row; /* 각 행을 수직으로 배열 */
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
  }

.g__info-cont-inner .row .text-title {
    margin-left: 15px; /* 좌측 마진을 추가하여 아이콘과 텍스트 사이의 간격을 만듭니다. */
}

.g__btn-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 28px;
    height: 28px;
    background: url(https://og.kakaobank.io/view/75527060-e437-41db-b91a-7e0fede8b316) no-repeat 0 0 / 100%;
    border: none; /* Remove any border */
    outline: none; /* Remove any outline */
}

